---
import { CountUp } from "./CountUp";
---

<section class="max-w-6xl mx-auto py-20 px-20">
  <h2 class="text-3xl lg:text-4xl font-tomaso text-center text-balance mb-20">The COSMERE awards in numbers</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12">
    <div class="flex flex-col justify-center items-center">
      <span class="number text-7xl font-bold tabular-nums tracking-tighter">
        <CountUp client:visible initial={0} final={69.9 } decimals={1}/>M
      </span>
      <span class="uppercase">visualizations</span>
    </div>
    <div class="number flex flex-col justify-center items-center">
      <span class="text-7xl font-bold tabular-nums tracking-tighter">
        <CountUp client:visible initial={0} final={340} />
      </span>
      <span class="uppercase">news in the press</span>
    </div>
    <div class="number flex flex-col justify-center items-center">
      <span class="text-7xl font-bold tabular-nums tracking-tighter">
        €<CountUp client:visible initial={0} final={4.7} decimals={1}/>M
      </span>
      <span class="uppercase">donated</span>
    </div>
  </div>
</section>


<style>
  .number {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
</style>