<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h3 class="uppercase text-3xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto">
    Watch the last edition 2023 "The state of the Sanderson" 
  </h3>
  <lite-youtube 
    class="shadow-2xl shadow-black/50 rounded-xl"
    videoid="UTmVJQJoEVI"
    videotitle="The state of the Sanderson 2023 - Brandon Sanderson"
  ></lite-youtube>
</section>

<script>
  import '@justinribeiro/lite-youtube'
</script>